/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.fa-chevron-circle-left {
  color: gray;
}

.fa-pencil-square-o {
  color: green;
}

.btn-success {
  margin-top: 2em;
  margin-bottom: 2em;
}

.container p {
  text-align: center;
  font-size: 20px;
}
